[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = https://git.wincent.com/command-t.git
[submodule "home/.mongo-hacker"]
	path = home/.mongo-hacker
	url = https://github.com/TylerBrock/mongo-hacker.git
[submodule "home/.vim/bundle/vim-golang"]
	path = home/.vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "home/.zsh/oh-my-zsh"]
	path = home/.zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.zsh/dircolors-solarized"]
	path = home/.zsh/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "home/.split2flac"]
	path = home/.split2flac
	url = https://github.com/ftrvxmtrx/split2flac.git
[submodule "home/.urxvt/ext"]
	path = home/.urxvt/ext
	url = https://github.com/muennich/urxvt-perls.git
[submodule "home/.vim/pack/themes/opt/solarized8"]
	path = home/.vim/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "home/.zsh/oh-my-zsh-customizations/themes/powerlevel10k"]
	path = home/.zsh/oh-my-zsh-customizations/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
