[core]
  pager = less -+$LESS -FRX
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[user]
  name = Flavio Castelli
  email = fcastelli@suse.com
	signingkey = 010CE040
[alias]
  cp = cherry-pick
  co = checkout
  st = status
  ci = commit
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  sync = !"git fetch --prune origin -v; git fetch upstream -v; git rebase upstream/main"
[branch]
 # automatically merge from remote branches on 'git pull'
 autosetupmerge = true
 autosetuprebase = always
[rerere]
	enabled = 1
[push]
	default = simple
[commit]
	gpgsign = true
#[url "git@github.com:"]
#  insteadOf = https://github.com/
#  insteadOf = git://github.com/
[init]
	defaultBranch = main
